/*<!-- ОБЩИЙ КОНТЕЙНЕР -->*/

.container{
	display: flex;
	height: 900px;
	width: 1040px;
    margin-left: 80px;

}



/*<!-- БОКОВАЯ ПАНЕЛЬ -->*/

.typeserch{
    position: fixed;
    border-right:1px solid #E6E6E6;
flex-wrap: wrap;
align-content: space-around;
display: flex;
box-sizing: border-box;
width: 80px;
height: 810px;
left: 0px;
top: -40px;
justify-content: center
border-right: 1px solid #E6E6E6;
	
}
.serch11{
display: flex;
width: 23px;
height: 23px;
margin-left:20px;
margin-top:0px;
}

.serchGROUP{
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 92px;
height: 23px;
}

.serch12{
display: flex;
width: 23px;
height: 23px;
margin-left:30px;
/*margin-top:149px;*/
}
.serch13{
display: flex;
width: 23px;
height: 23px;
margin-left:30px;
/*margin-top:169px;*/
}

.serch14{
display: flex;
width: 23px;
height: 23px;
margin-left:30px;
/*margin-top:189px;*/
}

.serch15{
display: flex;
width: 23px;
height: 23px;
margin-left:30px;
/*margin-top:209px;*/
}

.serchGROUP2{
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 46px;
height: 23px; 
}


.serch16{
display: flex;
width: 23px;
height: 23px;
margin-left:30px;
/*margin-top:49px;*/
}

.serch17{
display: flex;
width: 23px;
height: 23px;
margin-left:28px;
/*margin-top:49px;*/
}


.serch12 :hover *{
    fill:red;
}
.serch13 :hover *{
    fill:red;
}
.serch14 :hover *{
    fill:red;
}
.serch15 :hover *{
    fill:red;
}
.serch16 :hover *{
    fill:red;
}


/*КОНЕЦ БОКОВОЙ ПАНЕЛИ*/


/*ШАПКА*/

.pik{
	width: 23px;
    height: 23px;
}

.serch{
box-sizing: border-box;

display: flex;
width: 884px;
height: 39px;
margin-left: 107px;
margin-top: 56px;

border-bottom: 1px solid #E6E6E6;
}

.serch2{
align-items: center;
align-content: stretch;
flex-direction: column;
display: flex;
width: 68px;
height: 19px;
margin-left: 0px;
margin-top: 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: #757575;
}

.serch3{
flex-direction: column;
align-items: center;
display: flex;
width: 108px;
height: 19px;
margin-left: 0px;
margin-top: 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: #292929;
}

.type{
box-sizing: border-box;

display: flex;
width: 884px;
height: 221px;
margin-left: 147px;
margin-top: 124px;
}

.roll{
position: fixed;
box-sizing: border-box;
display: flex;
/*position: absolute;*/
width: 335px;
height: 810px;
margin-left: 1125px;
margin-top: 0px;

justify-content: center;
border-left: 1px solid #E6E6E6;
}

.roll2{
justify-content: center;

box-sizing: border-box;
display: flex;
width: 340px;
height: 45px;
margin-left: 17px;
margin-top: 55px;
border: 1px solid rgba(230, 230, 230, 0.8);
border-radius: 20px;
}

* {box-sizing: border-box;}
form {
	display: flex;
	align-items: center;
  position: relative;
  width: 300px;
  margin: 0 auto;
  border: 1px;
  border-radius: 20px;
}
input, button {
	display: flex;
  border: none;
  outline: none;
  border-radius: 3px;
  border-radius: 20px;
}
input {
	display: flex;
  width: 100%;
  height: 42px;
  background: #ffffff;
  padding-left: 15px;
  border: 1px;
  border-radius: 20px;
}
button {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  top: 8px;
  right: 8px;
  background: #ffffff;
  cursor: pointer;
  border-radius: 20px;
}
/*button:before {
	display: flex;
  content: "\f105";
  font-family: FontAwesome;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
}
*/

.ellipssss{
position: absolute;
width: 206px;
height: 19px;
left: 17px;
top: 125px;
}

.ellips1{
	position: absolute;
width: 8px;
height: 8px;
left: 0px;
top: 5px;
border-radius: 20px;
background: #1A8917;
}

.text{
justify-content: center;
display: flex;
width: 190px;
height: 19px;
margin-left: 16px;
margin-top: 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: #292929;
}

.textMEsa1{
display: flex;
width: 252px;
height: 72px;
margin-left: 17px;
margin-top: 159px;
}

.pikture1{
position: absolute;
width: 24px;
height: 24px;
left: 17px;
top: 159px;
background: url(.jpg), #C4C4C4;
}

.text1{
	position: absolute;
width: 53px;
height: 15px;
left: 49px;
top: 163px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 15px;

color: #292929;
}

.text2{
	position: absolute;
width: 252px;
height: 38px;
left: 17px;
top: 193px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #191919;
}

.textMEsa2{
display: flex;
width: 252px;
height: 72px;
left: 17px;
top: 246px;

}

.pikture2{
position: absolute;
width: 24px;
height: 24px;
left: 17px;
top: 246px;

background: url(.jpg), #C4C4C4;
}

.text3{
position: absolute;
width: 53px;
height: 15px;
left: 49px;
top: 250px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 15px;

color: #292929;
}

.text4{
position: absolute;
width: 252px;
height: 38px;
left: 17px;
top: 280px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #191919;
}

.textMEsa3{
display: flex;
width: 252px;
height: 72px;
margin-left: 17px;
margin-top: 159px;
}

.pikture3{
position: absolute;
width: 24px;
height: 24px;
left: 17px;
top: 333px;

background: url(.jpg), #C4C4C4;
}

.text5{
position: absolute;
width: 53px;
height: 15px;
left: 49px;
top: 337px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 15px;

color: #292929;
}

.text6{
position: absolute;
width: 252px;
height: 38px;
left: 17px;
top: 367px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #191919;
}

.text7{
position: absolute;
width: 83px;
height: 15px;
left: 18px;
top: 445px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 15px;

color: #1A8917;
}

.lay1{
display: flex;
box-sizing: border-box;

position: absolute;
width: 884px;
height: 221px;
margin-left: 107px;
margin-top: 124px;

border-bottom: 1px solid #E6E6E6;
}

.lay1frame1{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

position: absolute;
width: 705px;
height: 189px;
left: 0px;
top: 16px;
}

.TEXTTT1{
	display: flex;
width: 533px;
height: 106px;

margin-top: 0px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.podTEXTTT11{
position: absolute;
width: 486px;
height: 26px;
left: 0px;
margin-top: 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 26px;
/* identical to box height */


color: #191919;
}
.podTEXTTT12{
position: absolute;
width: 533px;
height: 72px;
left: 0px;
margin-top: 30px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
/* or 150% */


color: #292929;
}


.but1{
display: flex;	
width: 755px;
height: 27px;

align-items: center;

/* Inside auto layout */

flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
}

.lilBut{
	display: flex;
flex-direction: row;
align-items: flex-start;
padding: 6px 10px;
gap: 10px;


width: 69px;
height: 27px;
margin-left: 0px;
margin-top: 0px;
justify-content: center;
background: #F5F5F5;
border-radius: 16px;
}

.text3min{
position: absolute;
width: 61px;
height: 15px;
margin-left: 93px;
margin-top: 6px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 15px;

color: #757575;
}


.but2{
    display: flex;
    width: 755px;
    height: 27px;
    align-items: center;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}



.lilBut2{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 6px 10px;
gap: 10px;

width: 69px;
height: 27px;
margin-left: 0px;
margin-top: 0px;

background: #F5F5F5;
border-radius: 16px;
}

.text3min2{
position: absolute;
width: 61px;
height: 15px;
margin-left: 93px;
margin-top: 6px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 15px;

color: #757575;
}



.but3{
display: flex;
    width: 755px;
    height: 27px;
    align-items: center;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}



.lilBut3{
display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6px 10px;
    gap: 10px;
    width: 69px;
    height: 27px;
    margin-left: 0px;
    margin-top: 0px;
    justify-content: center;
    background: #F5F5F5;
    border-radius: 16px;

}

.text3min3{
position: absolute;
    width: 61px;
    height: 15px;
    margin-left: 93px;
    margin-top: 6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    color: #757575;
}



.lay1MINYframe1{
display: flex;
/*flex-direction: row;*/
align-items: center;
padding: 0px;
gap: 8px;

width: 189px;
height: 24px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.lay1pik1{
	display: flex;
width: 24px;
height: 24px;

background: url(.jpg), #C4C4C4;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.lay1text1{
	display: flex;
width: 57px;
height: 16px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;

color: #292929;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.lay2{
	display: flex;
box-sizing: border-box;

position: absolute;
width: 884px;
height: 221px;
margin-left: 107px;
margin-top: 374px;

border-bottom: 1px solid #E6E6E6;
}

.lay2frame2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 705px;
    height: 189px;
    left: 0px;
    top: 16px;
}

.TEXTTT2{
display: flex;
    width: 533px;
    height: 106px
;
    margin-top: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.podTEXTTT2{
	width: 533px;
height: 106px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.podTEXTTT21{
position: absolute;
    width: 486px;
    height: 26px;
    left: 0px;
    margin-top: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #191919;
}
.podTEXTTT22{
position: absolute;
    width: 533px;
    height: 72px;
    left: 0px;
    margin-top: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #292929;
}

.lay2MINYframe2{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 189px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.lay2pik2{
	display: flex;
width: 24px;
height: 24px;

background: url(.jpg), #C4C4C4;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.lay2text2{
	display: flex;
width: 57px;
height: 16px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;

color: #292929;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.lay3{
box-sizing: border-box;
display: flex;
position: absolute;
width: 884px;
height: 221px;
margin-left: 107px;
margin-top: 624px;

border-bottom: 1px solid #E6E6E6;
}

.lay3frame3{
display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 705px;
    height: 189px;
    left: 0px;
    top: 16px;
}

.TEXTTT3{
display: flex;
    width: 533px;
    height: 106px;
    margin-top: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.podTEXTTT3{
    position: absolute;
    width: 486px;
    height: 26px;
    left: 0px;
    margin-top: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #191919;
}
.podTEXTTT31{
position: absolute;
    width: 486px;
    height: 26px;
    left: 0px;
    margin-top: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #191919;
}
.podTEXTTT32{
position: absolute;
    width: 533px;
    height: 72px;
    left: 0px;
    margin-top: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #292929;
}

.lay3MINYframe3{
display: flex;
    /* flex-direction: row; */
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 189px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.lay3pik3{
display: flex;
    width: 24px;
    height: 24px;
    background: url(.jpg), #C4C4C4;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.layt3ext3{
display: flex;
    width: 57px;
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #292929;
    flex: none;
    order: 1;
    flex-grow: 0;
}


.ppiikk{
display: flex;
width: 140px;
height: 139px;
margin-left: 744px;
margin-top: 41px;

}